.content{
	padding-top: 50px;
}

.image{
	min-height: 200px;
	margin-bottom: 10px;
	padding-top: 20px;
}

.activo{
	margin-top: 5px;
	font-weight: bold;
	padding-top: 15px;
}

.mr-10{
	padding-left: 0;
	padding-right: 0;
}

.mb-10{
	margin-bottom: 5px;
}

.mt-10{
	margin-top: 15px;
}

.m-r-10{
	margin-right: 15px;
}

.max{
	max-height: 60px;
	width: auto;
	transition: transform .2s; /* Animation */
}

.max:hover{
	transform: scale(4.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	width: auto;
	position: relative;
	z-index: 1000;
}

.next-back-btn{
	width: 200px;
}

.pad-top-telefonero{
	padding-top: 100px;
}

.bronce{
	color:#BF4A10;
}

.plata{
	color :#C9C4C4;
}

.oro{
	color: #EAA208;
}

.black{
	color: #161414;
}

.form-top{
	width: 140px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	display: inline;
}

.inline{
	display: inline;
}

.dontShow{
	display: none;
	padding-right: 0px;
	padding-left: 0px;
}

.p-t-50{
	padding-top: 50px;
}

.circleR{
	border-radius: 100px;
	height: 20px;
	width: 20px;
	background:#2664E1; 
	opacity: 0.6;
	display: inline-block;
	margin-left: 10px;
}

.circleC{
	border-radius: 100px;
	height: 20px;
	width: 20px;
	background:#FAE81E; 
	opacity: 0.6;
	display: inline-block;
	margin-left: 10px;

}

.circleL{
	border-radius: 100px;
	height: 20px;
	width: 20px;
	background:#1EFA47; 
	opacity: 0.6;
	display: inline-block;
	margin-left: 10px;

}

.circleX{
	border-radius: 100px;
	width: 20px;
	height: 20px;
	background:#FA4D1E; 
	opacity: 0.6;
	display: inline-block;
	margin-left: 10px;

}

.navbar{
	background: #02576c !important;
}

#side-menu{
	background: #02576c !important;
}

.nav-second-level{
	background: #45969b !important;
}

.navbar-brand{
	color: white !important;
}

#wrapper{
	background: #02576c !important;
}

ul#side-menu a {
	color:white;
}

.nav>li>a:focus, .nav>li>a:hover{
	background: #216583 !important;
}

.navbar-top-links li span,.navbar-top-links li i{
	color: white !important;
}

#page-wrapper{
	background: #f4efef !important;
}

.imageList{
	height: 280px;
	background-size: 150px;
	background-position: center;
	background-repeat: no-repeat;
}

.sidebar ul li a.active{
	background: #393e46;
}

.padding-20{
	padding-top: 15px;
	padding-bottom: 15px;
}

.padding-5{
	padding-top: 5px;
	padding-bottom: 5px;
}

.text-image{
	position: absolute;
	bottom: 0;
}
