{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
    	<div class="panel-heading">
    		Registros por telefoneros
    	</div>
    	<div class="panel-body">
    		<form method="post" >
    			<label for="">Telefoneros</label>
    		<select class="form-control" name="telefonero" id="">
    			{% for telefonero in telefoneros %}
    			    <option value="{{telefonero.id}}">{{telefonero.name}}</option>
    			{% endfor %}
    			<option value="todos">todos</option>
    		</select>
    			<label for="">Formato</label>
    		<select class="form-control" name="formato" id="">
    			<option value="pdf">PDF</option>
    			<option value="rtf">RTF</option>
    		</select>
    		<label for="">Data</label>
    		<select class="form-control" name="type" id="">
    			<option value="frequent">regular</option>
    			<option value="first">primera vez</option>
    			<option value="discard">descartado</option>
    		</select><br>
    		<button class="btn btn-success center-block" >Generar</button>
    		</form>
    	</div>
    </div>
    	</div>
    </div>
{% endblock %}